@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

*{
   font-family: "Poppins", sans-serif;
}
/* Tailwind */
.text{
  @apply text-gray-400 text-sm font-semibold
}


/* css shared */
.container-1400 {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.card1:hover .text1 {
  color: rgb(42, 42, 224);
}
.logo-justufy{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.t-s{
  font-weight: 600;
}

.count-p{
  @apply text-gray-500 font-semibold text-lg pt-2
}
.count-div{
  @apply text-center p-5 rounded-lg
}
.count-h{
  @apply font-bold text-5xl
}

/* search input থেকে cancel / cross আইকন সরানোর জন্য */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}
